<!doctype html>
<html lang="en">
	<!-- Better seen on tabs-size: 4, 120 cols editor -->
	<head>
		<title>Image sequence player</title>
		<meta charset="utf-8">
		<meta name="viewport"
				content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Boostrap CSS -->
		<link rel="stylesheet"
				href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
				integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
				crossorigin="anonymous">

		<!-- Google Material icon font -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
				rel="stylesheet">
		<!-- Custom CSS definitions -->
		<link rel="stylesheet" href="css/jpeg2video.css">

	</head>
	<body ng-app="jpeg2videoApp">
		<!--------------------------------------------------------------------------->
		<!--                             PAGE CONTAINER                            -->
		<!--------------------------------------------------------------------------->
		<div class="container-fluid" ng-controller="jpeg2videoController">

			<!----------------------------------------------------------------------->
			<!--                              NAVBAR                               -->
			<!----------------------------------------------------------------------->
			<!-- Mostly adapted from Boostrap example -->
			<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
				<a class="navbar-brand" href="#">HP</a>
				<!-- Toggle menu button shown on small displays -->
				<button class="navbar-toggler" type="button"
						data-toggle="collapse"
						data-target="#navbarNavAltMarkup"
						aria-controls="navbarNavAltMarkup"
						aria-expanded="false"
						aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<!-- NavBar menu items -->
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav">
						<a class="nav-item nav-link active" href="#">Player</a>
						<a class="nav-item nav-link" href="#">Documentation</a>
					</div>
				</div>
			</nav> <!-- NAVBAR END -->

			<!------------------------------------------------------------------------->
			<!--                            MAIN CONTAINER                           -->
			<!------------------------------------------------------------------------->
			<div class="container">

				<!--------------------------------------------------------------------->
				<!--                            PLAYER                               -->
				<!--------------------------------------------------------------------->
				<div class="container-fluid mb-5">
					<div class="text-center video-player-container">
						<h4 class="mt-5 mb-5"
								ng-class="{'d-none': !utils.is_empty(stream_curr)}">
							No stream available
						</h4>
						<div class="video-player-control-bar"
								ng-class="{'d-none': utils.is_empty(stream_curr),
										'force-visible': !utils.is_empty(stream_curr) && !player.is_playing()
									}">
							<button type="button" class="btn"
									ng-click="player.play()" ng-disabled="player.is_playing()">
								<i class="material-icons">play_arrow</i>
							</button>
							<button type="button" class="btn"
									ng-click="player.pause()" ng-disabled="!player.is_playing()">
								<i class="material-icons">pause</i>
							</button>
							<button type="button" class="btn"
									ng-click="player.seek(0); player.play();"
									ng-disabled="!player.is_ready() && !player.is_end()">
								<i class="material-icons">replay</i>
							</button>
						</div>
						<!-- 
							add the controls attribute to the video element for
							built in controls.
						-->
						<video id="video_player"
								class="img-fluid"
								ng-class="{'d-none': utils.is_empty(stream_curr)}"
								> 
						</video>
					</div>
					<h5>{{stream_curr.title}}
						<span ng-if="utils.is_empty(stream_curr.title)"
								class="font-italic">(No title)</span>
					</h5>
					{{stream_curr.desc}}
					<span ng-if="utils.is_empty(stream_curr.desc)"
							class="font-italic">(No description available)</span>
				</div>

				<!--------------------------------------------------------------------->
				<!--                          MEDIA LIST                             -->
				<!--------------------------------------------------------------------->
				<div class="container-fluid border-top pt-4">
					<h5 class="mb-3">Available image sequences</h5>
					<div class="container-fluid mb-5">
						<ul class="list-unstyled">

							<!--------------------------------------------------------------->
							<!--                     EMPTY MEDIA LIST                      -->
							<!--------------------------------------------------------------->
							<li ng-if="utils.is_empty(stream_list)"
									class="media shadow-sm p-3 mb-5 bg-light rounded stream-list-item">
								<div class="media-body text-center">
									<h6 class="mt-0 mb-1">No streams available</h6>
								</div>
							</li> <!-- EMPTY MEDIA LIST END -->

							<!--------------------------------------------------------------->
							<!--                     MEDIA LIST ITEM                       -->
							<!--------------------------------------------------------------->
							<li ng-repeat="stream in stream_list"
									class="media shadow-sm p-3 mb-5 bg-white rounded stream-list-item"
									ng-class="{'shadow-lg': (stream == stream_curr)}">
								<img ng-src="vidfeed/{{stream.dir}}/thumbnail.jpg"
										class="mr-3 img-thumbnail w-25 clickable"
										alt="{{stream.title}} thumbnail"
										ng-click="stream_select(stream)">
								<div class="media-body">
									<h6 class="mt-0 mb-1 clickable"
											ng-click="stream_select(stream)">
										{{stream.title}}
										<span ng-if="utils.is_empty(stream.title)"
												class="font-italic">(No title)</span>
									</h6>
									{{stream.desc}}
									<span ng-if="utils.is_empty(stream_curr.desc)"
											class="font-italic">(No description available)</span>
								</div>
							</li> <!-- MEDIA LIST ITEM END -->

						</ul>
					</div>
				</div> <!-- MEDIA LIST END -->
			</div> <!-- MAIN CONTAINER END -->
		</div> <!-- PAGE CONTAINER END -->

		<!------------------------------------------------------------------------->
		<!--                               SCRIPTS                               -->
		<!------------------------------------------------------------------------->
		<!--
			For simplicity, just reference to the official CDN of these OSS
			projects. In a production deployment, these should be hosted in the
			web client's container.
		-->

		<!-- jQuery (used by Boostrap) -->
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
				integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
				crossorigin="anonymous"></script>

		<!-- Popper.js (used by Boostrap) -->
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
				integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
				crossorigin="anonymous"></script>

		<!-- Boostrap -->
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
				integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
				crossorigin="anonymous"></script>

		<!-- AngularJS -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>

		<!-- Adds animation support in AngularJS -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular-animate.js"></script>

		<!-- Dash JS -->
		<script src="js/dash.all.min.js"></script>

		<!-- Finally, the jpeg2video.js application -->
		<script src="js/jpeg2video.js"></script>

	</body>
</html>